<meta charset="UTF-8">
<title>MEPN Template - Admin</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<script src="/assets/common/js/jquery-3.2.1.min.js"></script>
<script src="/assets/common/js/handlebars.js"></script>
<script src="/assets/common/js/handlebars.runtime.js"></script>
<script src="/assets/common/js/socket.io.js"></script>
<script defer src="/assets/common/js/fa.js"></script>
<script src="/assets/panel/js/bundle.js"></script>

<link rel="stylesheet" href="/assets/common/css/grid.css">
<link type="text/css" rel="stylesheet" href="/assets/panel/css/style.css"/>